<template>
  <div>
    <form @submit.prevent="fetchData">
      <label for="token">Token:</label>
      <input type="text" id="token" v-model="token" required>
      <button type="submit">Enviar</button>
    </form>
    <label v-if="response.email">Email: {{ response.email }}</label>
    <label v-if="response.card_number">Número de tarjeta: {{ response.card_number }}</label>
    <label v-if="response.expiration_year">Año de vencimiento: {{ response.expiration_year }}</label>
    <label v-if="response.expiration_month">Mes de vencimiento: {{ response.expiration_month }}</label>
  </div>
</template>

<script>

import axios from "axios";

export default {
  data() {
    return {
      token: '',
      response: {}
    };
  },
  methods: {
    async fetchData() {
      try {
        const headers = {
          'pk': 'pk_test_LsBRKejzCOEEWOsw'
        };
        const body = {
          'token': this.token
        };

        const response = await axios.post('http://localhost:3000/cards', body, { headers });


        // Aquí, puedes actualizar la respuesta en la variable 'response'
        this.response = response.data;
      } catch (error) {
        console.error('Error:', error);
      }
    }
  }
};
</script>

