<template>
  <div>
    <form @submit.prevent="postData">
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" v-model="formData.email" required />
      </div>

      <br />
      <div>
        <label for="card_number">Número de Tarjeta:</label>
        <input
          type="text"
          id="card_number"
          v-model="formData.card_number"
          required
        />
      </div>
      <br />
      <div>
        <label for="cvv">CVV:</label>
        <input type="number" id="cvv" v-model="formData.cvv" required />
      </div>
      <br />
      <div>
        <label for="expiration_year">Año de Expiración:</label>
        <input
          type="text"
          id="expiration_year"
          v-model="formData.expiration_year"
          required
        />
      </div>
      <br />
      <div>
        <label for="expiration_month">Mes de Expiración:</label>
        <input
          type="text"
          id="expiration_month"
          v-model="formData.expiration_month"
          required
        />
      </div>
      <br />
      <button type="submit">Enviar</button>
    </form>
    <label v-if="response">{{ response }}</label>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      formData: {
        email: "",
        card_number: "",
        cvv: "",
        expiration_year: "",
        expiration_month: "",
      },
      response: "",
    };
  },
  methods: {
    async postData() {
      try {
        const url = "http://localhost:3000/tokens"; // Reemplaza con la URL de tu API
        const headers = {
          pk: "pk_test_LsBRKejzCOEEWOsw",
        };

        const response = await axios.post(url, this.formData, { headers });

        this.response = JSON.stringify(response.data);
      } catch (error) {
        console.error("Error:", error);
        this.response = "Error al enviar la solicitud.";
      }
    },
  },
};
</script>
